.highlight {
	background-color: yellow;
}

.error {
	background-color: lightcoral;
	border-color: red;
}

body {
    background-color: skyblue;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
    font-size: 18px;
    margin-bottom: 10px;
}

.message {
    font-size: 14px;
    color: green;
    margin-bottom: 10px;
}

.input-container {
    margin-bottom: 10px;
}

#typed-value {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

#start {
    padding: 10px 20px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}